<div class="navbar-container">

    <div class="navbar-left">

        <button class="btn btn-light shadow-sm" id="btnToggleSidebar">

            <i class="bi bi-list fs-4"></i>

        </button>

        <div class="search-box">

            <i class="bi bi-search"></i>

            <input
                type="text"
                class="form-control"
                placeholder="Buscar estudiantes, cursos, recursos...">

        </div>

    </div>

    <div class="navbar-right">

        <button class="icon-button">

            <i class="bi bi-bell"></i>

            <span class="badge bg-danger">3</span>

        </button>

        <button class="icon-button" id="btnDarkMode">

            <i class="bi bi-moon"></i>

        </button>

        <div class="user-navbar">

            <img
                id="navbarUserPhoto"
                src="https://ui-avatars.com/api/?name=Docente&background=2563EB&color=ffffff">

            <div>

                <strong id="navbarUserName">

                    Invitado

                </strong>

                <small id="navbarUserRole">

                    Docente

                </small>

            </div>

        </div>

    </div>

</div>